# Rust build files
target
debug
*.rs.bk
*.pdb


/settings/*.toml

# Cargo files
Cargo.lock
/.cargo/

# Environment variables
.env
.env.*

# IDE settings
.idea/
.vscode/
*.swp

# Log files
/logs/
/*.log

# Temporary files
*.tmp
*.bak
*.old

# Compiled libraries
*.dylib
*.so
*.dll


# Node and other build files
/volumes/
